Invalid state token on mattermost 4.2

Hi,

I need more details about your problem, if you want some help.

When the error happened ? What is your configuration ? Are you trying with a different browser/account ?

Regards, 

I have a same problem... I follow these step bad I get this error when go to the gitlab buton in login:

{"error":"redirect_uri_mismatch","error_description":"The redirect URI provided is missing or does not match","error_uri":"http://tools.ietf.org/html/rfc6749#section-3.1.2"}

I have install the mattermost 4.8

Thanks in advanced.

3.1.2.  Redirection Endpoint

   After completing its interaction with the resource owner, the
   authorization server directs the resource owner's user-agent back to
   the client.  The authorization server redirects the user-agent to the
   client's redirection endpoint previously established with the
   authorization server during the client registration process or when
   making the authorization request.

   The redirection endpoint URI MUST be an absolute URI as defined by
   [RFC3986] Section 4.3.  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.  The endpoint URI MUST NOT include a
   fragment component.

I close this issue since there is no update for ten months. Feel free to reopen it if you still have the problem.

Regards